node_modules/
cartridges/*/cartridge/static/*/js/*
cartridges/*/cartridge/static/*/css/*
cartridges/*/*/cartridge/static/*/js/*
cartridges/*/*/cartridge/static/*/css/*
cartridges/app_storefront_base/cartridge/static/*/fonts/*

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
package-lock.json
